:root {
  --page-1-color: steelblue;
  --page-2-color: tan;
  --page-3-color: teal;
  --page-4-color: slateblue;
  --animate-speed: 2s;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.4;
  color: #fff;
  margin: 0;
  padding: 0;
  overflow: hidden;
}


/* Page Colors */
#page-1 {  
  background: var(--page-1-color);
  background: url('/img/ranger-pics/20211218_135331.jpg') no-repeat center center / cover;
}
#page-2 {  
  background: var(--page-2-color);
  background: url('/img/ranger-pics/20211030_073218.jpg') no-repeat center
  center / cover;
}
#page-3 {  background: var(--page-3-color);
  background: url('/img/ranger-pics/signal-2021-11-03-185316.jpg') no-repeat center
  center / cover;
  
}
#page-4 {  background: var(--page-4-color);
  background: url('/img/ranger-pics/20210530_180558.jpg') no-repeat center
  center / cover;}

.page {
  display: flex;
  flex-direction: column;
  height: 100vh;
  align-items: center;
  justify-content: top;
  text-align: center;
  padding: 0 4rem;

}

.page h1  {
  /* color: red; */
  font-size: 4rem;
  line-height: 1.2;
  margin: 1rem;
  filter: drop-shadow(0px 5px 3px #444);
}

.page p {
  font-size: 1.3rem;

}

/* Buttons */
.btn {
  display: inline-block;
  padding: 1rem 2rem;
  background-color: #f4f4f4;
  color: #333;
  text-decoration: none;
  border: none;
  margin-top: 1rem;
  font-size: 1.1rem;
  transition: all 0.2s ease-in;
}

.btn:hover,
.btn-dark {
  background: #333;
  color: #fff;
}

.btn-dark:hover {
  background: #f4f4f4;
  color: #333;

}

/* page animation */
#page-1 h1 {
  /* transform: translateY(-1200px); */
  animation: drop 1.2s ease;
  /* animation: drop var(--animate-speed) forwards ease-in; */
}

#page-1 p {
  /* transform: translateX(-1800px);
  animation: text var(--animate-speed) forwards ease-in 1s; */
  animation: drop 1.2s ease;
}


@keyframes drop {
	0% {
		opacity: 0;
		transform: translateY(-80px);
	}
	100% {
		opacity: 1;
		transform: translateY(0px);
	}
}

@media(max-width: 768px){
  .btn {
    display: inline-block;
    padding: .5rem 1rem;
    background-color: #f4f4f4;
    color: #333;
    text-decoration: none;
    border: none;
    margin-top: .5rem;
    font-size: 1.1rem;
    transition: all 0.2s ease-in;
  }

  .btn:hover,
  .btn-dark {
  background: #333;
  color: #fff;
}

  .btn-dark:hover {
  background: #f4f4f4;
  color: #333;

}
  .page {
    justify-content: space-around;
  }
  .page p {
  font-size: 1.1rem;

}
  .page h1 {
    font-size: 2.5rem;
    
  }
}